{% extends 'base.html.twig' %}

{% block header %}
    <div id="header">
        <div id="topTitre">
            <p> RAP STATION </p>
        </div>
        <div id="SousTitre">
            <ul style="display: block;">
                <li style="display: inline-block;"><a href="accueil">Accueil ></a></li>
                <li style="display: inline-block;"><p>Actu</p></li>
                <li style="display: inline-block;"><a href="decouvrir"><nobr>Découvrir</nobr></a></li>
            </ul>
        </div>
    </div>
    {% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome" >
                <h1 style="text-align: center;">Découvrir </h1>
            </div>
            <div id="contenu">

            </div>


        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    html{background: #222222;}
    div#header{    margin-top: -8px !important;
    margin-left: -8px;
    margin-right: -8px;
    background: white;}
    div#SousTitre{
        border-top: 1px solid #222;
    }
    div#topTitre{
            
    text-align: center;
    height: 74px;
    }
    
    div#SousTitre li{
            margin-right: 10%;
    }
    body {font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto;  width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
